.wrapper {
  margin-top: 12px;
  margin-bottom: 24px;

  :global {
    .ant-btn {
      .ant-spin {
        position: relative;
        top: -2px;
        margin-right: 10px;
      }
    }
  }
}

.walletInput {
  width: 400px !important;
}
